.toolbar {
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: auto;
}

.tool-btn {
    width: 150px;
    height: 50px;
    margin: 17px;
    font-size: 20px;
    /* background-color: white; */
}

.bold-btn {
    font-weight: bold;
}

.italics-btn {
    font-style: italic;
}

.underline-btn {
    text-decoration: underline;
}